body {
    background-color: #fff;

  }
  
  form input::placeholder {
    color: #aaa;
  }
  
  h2 {
    font-weight: bold;
  }
  
  #filtersSection {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #fff;
}